body {
	background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg');
  	background-size: cover;
	background-color: powderblue;
	margin: 50px;
}
h1 {
	color: grey;
	font-family: 'Open Sans', sans-serif;
	font-size: 300%;
}
h3	{
  	font-family: 'Roboto Flex', sans-serif;
}
p {
	font-family: 'Verdana';
	border: 2px solid powderblue;
	padding: 30px;
	margin: 50px;
}
*   {
	text-align: center;
  	color: black;
  	font-family: 'Roboto', sans-serif;
}
